@{
    ViewBag.Title = "Tin tức";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="columns container">
    <!-- Block  Breadcrumb-->

    <ol class="breadcrumb no-hide">
        <li><a href="#">Home    </a></li>
        <li><a href="#">Blog    </a></li>
        <li class="active">Ut pharetra augue nec augue integer rutrum ante eu lacus</li>
    </ol>
    <!-- Block  Breadcrumb-->

    <div class="row">
        <!-- Main Content -->
        <div class="col-md-9 col-md-push-3  col-main ">
            <h2 class="page-heading">
                <span class="page-heading-title2">Bí quyết làm đẹp</span>
            </h2>
            <div class="sortPagiBar clearfix">
                <span class="page-noite">Showing 1 to 7 of 45 (15 Pages)</span>
                <div class="bottom-pagination">
                    <nav>
                        <ul class="pagination">
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li>
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">Next »</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <ul class="blog-posts">
                <li class="post-item">
                    <article class="entry">
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="entry-thumb image-hover2">
                                    <a href="#">
                                        <img src="images/media/detail/blog-1.jpg" alt="Blog">
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-7">
                                <div class="entry-ci">
                                    <h3 class="entry-title"><a href="#">Sed ut perspiciatis unde omnis iste natus error</a></h3>
                                    <div class="entry-meta-data">
                                        <span class="author">
                                            <i class="fa fa-user"></i>
                                            by: <a href="#">Admin</a></span>
                                        <span class="cat">
                                            <i class="fa fa-folder-o"></i>
                                            <a href="#">News, </a>
                                            <a href="#">Promotions</a>
                                        </span>
                                        <span class="comment-count">
                                            <i class="fa fa-comment-o"></i>3
                                        </span>
                                        <span class="date"><i class="fa fa-calendar"></i>2014-08-05 07:01:49</span>
                                    </div>
                                    <div class="post-star">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                        <span>(7 votes)</span>
                                    </div>
                                    <div class="entry-excerpt">
                                        Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros. Lorem ipsum dolor sit amet, consecvtetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel.
                                    </div>
                                    <div class="entry-more">
                                        <a href="#">Read more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </li>
                <li class="post-item">
                    <article class="entry">
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="entry-thumb image-hover2">
                                    <a href="#">
                                        <img src="images/media/detail/blog-2.jpg" alt="Blog">
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-7">
                                <div class="entry-ci">
                                    <h3 class="entry-title"><a href="#">Sed ut perspiciatis unde omnis iste natus error</a></h3>
                                    <div class="entry-meta-data">
                                        <span class="author">
                                            <i class="fa fa-user"></i>
                                            by: <a href="#">Admin</a></span>
                                        <span class="cat">
                                            <i class="fa fa-folder-o"></i>
                                            <a href="#">News, </a>
                                            <a href="#">Promotions</a>
                                        </span>
                                        <span class="comment-count">
                                            <i class="fa fa-comment-o"></i>3
                                        </span>
                                        <span class="date"><i class="fa fa-calendar"></i>2014-08-05 07:01:49</span>
                                    </div>
                                    <div class="post-star">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                        <span>(7 votes)</span>
                                    </div>
                                    <div class="entry-excerpt">
                                        Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros. Lorem ipsum dolor sit amet, consecvtetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel.
                                    </div>
                                    <div class="entry-more">
                                        <a href="#">Read more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </li>
                <li class="post-item">
                    <article class="entry">
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="entry-thumb image-hover2">
                                    <a href="#">
                                        <img src="images/media/detail/blog-3.jpg" alt="Blog">
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-7">
                                <div class="entry-ci">
                                    <h3 class="entry-title"><a href="#">Sed ut perspiciatis unde omnis iste natus error</a></h3>
                                    <div class="entry-meta-data">
                                        <span class="author">
                                            <i class="fa fa-user"></i>
                                            by: <a href="#">Admin</a></span>
                                        <span class="cat">
                                            <i class="fa fa-folder-o"></i>
                                            <a href="#">News, </a>
                                            <a href="#">Promotions</a>
                                        </span>
                                        <span class="comment-count">
                                            <i class="fa fa-comment-o"></i>3
                                        </span>
                                        <span class="date"><i class="fa fa-calendar"></i>2014-08-05 07:01:49</span>
                                    </div>
                                    <div class="post-star">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                        <span>(7 votes)</span>
                                    </div>
                                    <div class="entry-excerpt">
                                        Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros. Lorem ipsum dolor sit amet, consecvtetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel.
                                    </div>
                                    <div class="entry-more">
                                        <a href="#">Read more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </li>
                <li class="post-item">
                    <article class="entry">
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="entry-thumb image-hover2">
                                    <a href="#">
                                        <img src="images/media/detail/blog-4.jpg" alt="Blog">
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-7">
                                <div class="entry-ci">
                                    <h3 class="entry-title"><a href="#">Sed ut perspiciatis unde omnis iste natus error</a></h3>
                                    <div class="entry-meta-data">
                                        <span class="author">
                                            <i class="fa fa-user"></i>
                                            by: <a href="#">Admin</a></span>
                                        <span class="cat">
                                            <i class="fa fa-folder-o"></i>
                                            <a href="#">News, </a>
                                            <a href="#">Promotions</a>
                                        </span>
                                        <span class="comment-count">
                                            <i class="fa fa-comment-o"></i>3
                                        </span>
                                        <span class="date"><i class="fa fa-calendar"></i>2014-08-05 07:01:49</span>
                                    </div>
                                    <div class="post-star">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                        <span>(7 votes)</span>
                                    </div>
                                    <div class="entry-excerpt">
                                        Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros. Lorem ipsum dolor sit amet, consecvtetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel.
                                    </div>
                                    <div class="entry-more">
                                        <a href="#">Read more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </li>
                <li class="post-item">
                    <article class="entry">
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="entry-thumb image-hover2">
                                    <a href="#">
                                        <img src="images/media/detail/blog-5.jpg" alt="Blog">
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-7">
                                <div class="entry-ci">
                                    <h3 class="entry-title"><a href="#">Sed ut perspiciatis unde omnis iste natus error</a></h3>
                                    <div class="entry-meta-data">
                                        <span class="author">
                                            <i class="fa fa-user"></i>
                                            by: <a href="#">Admin</a></span>
                                        <span class="cat">
                                            <i class="fa fa-folder-o"></i>
                                            <a href="#">News, </a>
                                            <a href="#">Promotions</a>
                                        </span>
                                        <span class="comment-count">
                                            <i class="fa fa-comment-o"></i>3
                                        </span>
                                        <span class="date"><i class="fa fa-calendar"></i>2014-08-05 07:01:49</span>
                                    </div>
                                    <div class="post-star">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                        <span>(7 votes)</span>
                                    </div>
                                    <div class="entry-excerpt">
                                        Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros. Lorem ipsum dolor sit amet, consecvtetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel.
                                    </div>
                                    <div class="entry-more">
                                        <a href="#">Read more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </li>
                <li class="post-item">
                    <article class="entry">
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="entry-thumb image-hover2">
                                    <a href="#">
                                        <img src="images/media/detail/blog-6.jpg" alt="Blog">
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-7">
                                <div class="entry-ci">
                                    <h3 class="entry-title"><a href="#">Sed ut perspiciatis unde omnis iste natus error</a></h3>
                                    <div class="entry-meta-data">
                                        <span class="author">
                                            <i class="fa fa-user"></i>
                                            by: <a href="#">Admin</a></span>
                                        <span class="cat">
                                            <i class="fa fa-folder-o"></i>
                                            <a href="#">News, </a>
                                            <a href="#">Promotions</a>
                                        </span>
                                        <span class="comment-count">
                                            <i class="fa fa-comment-o"></i>3
                                        </span>
                                        <span class="date"><i class="fa fa-calendar"></i>2014-08-05 07:01:49</span>
                                    </div>
                                    <div class="post-star">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                        <span>(7 votes)</span>
                                    </div>
                                    <div class="entry-excerpt">
                                        Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros. Lorem ipsum dolor sit amet, consecvtetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel.
                                    </div>
                                    <div class="entry-more">
                                        <a href="#">Read more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </li>
                <li class="post-item">
                    <article class="entry">
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="entry-thumb image-hover2">
                                    <a href="#">
                                        <img src="images/media/detail/blog-7.jpg" alt="Blog">
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-7">
                                <div class="entry-ci">
                                    <h3 class="entry-title"><a href="#">Sed ut perspiciatis unde omnis iste natus error</a></h3>
                                    <div class="entry-meta-data">
                                        <span class="author">
                                            <i class="fa fa-user"></i>
                                            by: <a href="#">Admin</a></span>
                                        <span class="cat">
                                            <i class="fa fa-folder-o"></i>
                                            <a href="#">News, </a>
                                            <a href="#">Promotions</a>
                                        </span>
                                        <span class="comment-count">
                                            <i class="fa fa-comment-o"></i>3
                                        </span>
                                        <span class="date"><i class="fa fa-calendar"></i>2014-08-05 07:01:49</span>
                                    </div>
                                    <div class="post-star">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                        <span>(7 votes)</span>
                                    </div>
                                    <div class="entry-excerpt">
                                        Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros. Lorem ipsum dolor sit amet, consecvtetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel.
                                    </div>
                                    <div class="entry-more">
                                        <a href="#">Read more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </li>
            </ul>
            <div class="sortPagiBar clearfix">
                <div class="bottom-pagination">
                    <nav>
                        <ul class="pagination">
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li>
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">Next »</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Main Content -->

        <!-- Sidebar -->
        <div class=" col-md-3 col-md-pull-9   col-sidebar">

            <!-- Block  categorie-->
            <div class="block-sidebar block-sidebar-categorie">
                <div class="block-title">
                    <strong>Danh mục tin tức</strong>
                </div>
                <div class="block-content">
                    <ul class="items">
                        <li class="parent">
                            <a href="">Dress</a>
                            <span class="toggle-submenu"></span>
                            <ul class="subcategory">
                                <li>
                                    <a href="">subcategory 1</a>

                                </li>
                                <li><a href="">subcategory 1</a></li>
                                <li><a href="">subcategory 1</a></li>
                                <li><a href="">subcategory 1</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="">Bags</a>
                        </li>
                        <li class="parent">
                            <a href="">Cost &amp; Jackets</a>
                            <span class="toggle-submenu"></span>
                            <ul class="subcategory">
                                <li><a href="">subcategory 1</a></li>
                                <li><a href="">subcategory 1</a></li>
                                <li><a href="">subcategory 1</a></li>
                                <li><a href="">subcategory 1</a></li>
                            </ul>
                        </li>
                        <li class="parent">
                            <a href="">Beauty</a>
                            <span class="toggle-submenu"></span>
                            <ul class="subcategory">
                                <li><a href="">subcategory 1</a></li>
                                <li><a href="">subcategory 1</a></li>
                                <li><a href="">subcategory 1</a></li>
                                <li><a href="">subcategory 1</a></li>
                            </ul>
                        </li>
                        <li class="parent">
                            <a href="">Jewellery</a>
                            <span class="toggle-submenu"></span>
                            <ul class="subcategory">
                                <li><a href="">subcategory 1</a></li>
                                <li><a href="">subcategory 1</a></li>
                                <li><a href="">subcategory 1</a></li>
                                <li><a href="">subcategory 1</a></li>
                            </ul>
                        </li>
                        <li class="parent">
                            <a href="">Nightwear</a>
                            <span class="toggle-submenu"></span>
                            <ul class="subcategory">
                                <li><a href="">subcategory 1</a></li>
                                <li><a href="">subcategory 1</a></li>
                                <li><a href="">subcategory 1</a></li>
                                <li><a href="">subcategory 1</a></li>
                            </ul>
                        </li>
                        <li class="parent">
                            <a href="">Jumpers &amp; Cardigans</a>
                            <span class="toggle-submenu"></span>
                            <ul class="subcategory">
                                <li><a href="">subcategory 1</a></li>
                                <li><a href="">subcategory 1</a></li>
                                <li><a href="">subcategory 1</a></li>
                                <li><a href="">subcategory 1</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Block  categorie-->

            <!-- Block  Popular Posts-->
            <div class="block-sidebar block-PopularPosts">
                <div class="block-title">
                    <strong>Tin hot</strong>
                </div>
                <div class="block-content">
                    <ul class="blog-list-sidebar clearfix">
                        <li>
                            <div class="post-thumb">
                                <a href="#">
                                    <img alt="Blog" src="images/media/detail/blog-thumb1.jpg"></a>
                            </div>
                            <div class="post-info">
                                <h5 class="entry_title"><a href="#">Lorem ipsum dolor sit amet</a></h5>
                                <div class="post-meta">
                                    <span class="date"><i class="fa fa-calendar"></i>2014-08-05</span>
                                    <span class="comment-count">
                                        <i class="fa fa-comment-o"></i>3
                                    </span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="post-thumb">
                                <a href="#">
                                    <img alt="Blog" src="images/media/detail/blog-thumb2.jpg"></a>
                            </div>
                            <div class="post-info">
                                <h5 class="entry_title"><a href="#">Lorem ipsum dolor sit amet</a></h5>
                                <div class="post-meta">
                                    <span class="date"><i class="fa fa-calendar"></i>2014-08-05</span>
                                    <span class="comment-count">
                                        <i class="fa fa-comment-o"></i>3
                                    </span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="post-thumb">
                                <a href="#">
                                    <img alt="Blog" src="images/media/detail/blog-thumb3.jpg"></a>
                            </div>
                            <div class="post-info">
                                <h5 class="entry_title"><a href="#">Lorem ipsum dolor sit amet</a></h5>
                                <div class="post-meta">
                                    <span class="date"><i class="fa fa-calendar"></i>2014-08-05</span>
                                    <span class="comment-count">
                                        <i class="fa fa-comment-o"></i>3
                                    </span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Block  Popular Posts-->

            <!-- Block RecentComments-->
            <div class="block-sidebar block-sidebar-RecentComments">
                <div class="block-title">
                    <strong>Recent Comments</strong>
                </div>
                <div class="block-content">
                    <ul class="recent-comment-list">
                        <li>
                            <h5><a href="#">Lorem ipsum dolor sit amet</a></h5>
                            <div class="comment">
                                "Consectetuer adipis. Mauris accumsan nulla vel diam. Sed in..."
                            </div>
                            <div class="author">Posted by <a href="#">Admin</a></div>
                        </li>
                        <li>
                            <h5><a href="#">Lorem ipsum dolor sit amet</a></h5>
                            <div class="comment">
                                "Consectetuer adipis. Mauris accumsan nulla vel diam. Sed in..."
                            </div>
                            <div class="author">Posted by <a href="#">Admin</a></div>
                        </li>
                        <li>
                            <h5><a href="#">Lorem ipsum dolor sit amet</a></h5>
                            <div class="comment">
                                "Consectetuer adipis. Mauris accumsan nulla vel diam. Sed in..."
                            </div>
                            <div class="author">Posted by <a href="#">Admin</a></div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Block  RecentComments-->

            <div class="block-sidebar block-sidebar-tags">
                <div class="block-title">
                    <strong>product tags</strong>
                </div>
                <div class="block-content">
                    <ul>
                        <li><a class="lv2" href="">actual</a></li>
                        <li><a class="lv1" href="">adorable</a></li>
                        <li><a class="lv3" href="">amaze</a></li>
                        <li><a class="lv5" href="">change</a></li>
                        <li><a class="lv2" href="">consider</a></li>
                        <li><a class="lv1" href="">delivery</a></li>
                        <li><a class="lv1" href="">Top</a></li>
                        <li><a class="lv4" href="">flexib</a></li>
                        <li><a class="lv1" href="">phenomenon </a></li>
                    </ul>
                </div>
            </div>

            <!-- block slide top -->
            <div class="block-sidebar block-banner-sidebar">
                <div class="owl-carousel owl-loaded owl-drag" data-nav="false" data-dots="true" data-margin="0" data-items="1" data-autoplaytimeout="700" data-autoplay="true" data-loop="true">



                    <div class="owl-stage-outer">
                        <div class="owl-stage" style="transform: translate3d(-807px, 0px, 0px); transition: 0.8s; width: 1883px;">
                            <div class="owl-item cloned" style="width: 269px;">
                                <div class="item item2">
                                    <img src="images/media/detail/banner-slide2.jpg" alt="images">
                                </div>
                            </div>
                            <div class="owl-item cloned" style="width: 269px;">
                                <div class="item item3">
                                    <img src="images/media/detail/banner-slide2.jpg" alt="images">
                                </div>
                            </div>
                            <div class="owl-item" style="width: 269px;">
                                <div class="item item1">
                                    <img src="images/media/detail/banner-slide2.jpg" alt="images">
                                </div>
                            </div>
                            <div class="owl-item active" style="width: 269px;">
                                <div class="item item2">
                                    <img src="images/media/detail/banner-slide2.jpg" alt="images">
                                </div>
                            </div>
                            <div class="owl-item" style="width: 269px;">
                                <div class="item item3">
                                    <img src="images/media/detail/banner-slide2.jpg" alt="images">
                                </div>
                            </div>
                            <div class="owl-item cloned" style="width: 269px;">
                                <div class="item item1">
                                    <img src="images/media/detail/banner-slide2.jpg" alt="images">
                                </div>
                            </div>
                            <div class="owl-item cloned" style="width: 269px;">
                                <div class="item item2">
                                    <img src="images/media/detail/banner-slide2.jpg" alt="images">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="owl-nav disabled">
                        <div class="owl-prev"></div>
                        <div class="owl-next"></div>
                    </div>
                    <div class="owl-dots">
                        <div class="owl-dot"><span></span></div>
                        <div class="owl-dot active"><span></span></div>
                        <div class="owl-dot"><span></span></div>
                    </div>
                </div>
            </div>
            <!-- block slide top -->



            <!-- block slide top -->
            <div class="block-sidebar block-sidebar-testimonials2">

                <div class="block-content">
                    <div class="owl-carousel owl-loaded owl-drag" data-nav="false" data-dots="true" data-margin="0" data-items="1" data-autoplaytimeout="700" data-autoplay="true" data-loop="true">


                        <div class="owl-stage-outer">
                            <div class="owl-stage" style="transform: translate3d(-452px, 0px, 0px); transition: 0s; width: 1130px;">
                                <div class="owl-item cloned" style="width: 226px;">
                                    <div class="item ">
                                        <div class="img">
                                            <img src="images/icon/icon1.png" alt="icon1">
                                        </div>
                                        <strong class="title">100% Money Back Guaranteed</strong>
                                        <div class="des">
                                            Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt .
                                        </div>
                                        <a href="" class="btn">Read more <i aria-hidden="true" class="fa fa-angle-double-right"></i></a>
                                    </div>
                                </div>
                                <div class="owl-item cloned" style="width: 226px;">
                                    <div class="item ">
                                        <div class="img">
                                            <img src="images/icon/icon1.png" alt="icon1">
                                        </div>
                                        <strong class="title">100% Money Back Guaranteed</strong>
                                        <div class="des">
                                            Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt .
                                        </div>
                                        <a href="" class="btn">Read more <i aria-hidden="true" class="fa fa-angle-double-right"></i></a>
                                    </div>
                                </div>
                                <div class="owl-item active" style="width: 226px;">
                                    <div class="item ">
                                        <div class="img">
                                            <img src="images/icon/icon1.png" alt="icon1">
                                        </div>
                                        <strong class="title">100% Money Back Guaranteed</strong>
                                        <div class="des">
                                            Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt .
                                        </div>
                                        <a href="" class="btn">Read more <i aria-hidden="true" class="fa fa-angle-double-right"></i></a>
                                    </div>
                                </div>
                                <div class="owl-item cloned" style="width: 226px;">
                                    <div class="item ">
                                        <div class="img">
                                            <img src="images/icon/icon1.png" alt="icon1">
                                        </div>
                                        <strong class="title">100% Money Back Guaranteed</strong>
                                        <div class="des">
                                            Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt .
                                        </div>
                                        <a href="" class="btn">Read more <i aria-hidden="true" class="fa fa-angle-double-right"></i></a>
                                    </div>
                                </div>
                                <div class="owl-item cloned" style="width: 226px;">
                                    <div class="item ">
                                        <div class="img">
                                            <img src="images/icon/icon1.png" alt="icon1">
                                        </div>
                                        <strong class="title">100% Money Back Guaranteed</strong>
                                        <div class="des">
                                            Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt .
                                        </div>
                                        <a href="" class="btn">Read more <i aria-hidden="true" class="fa fa-angle-double-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-nav disabled">
                            <div class="owl-prev"></div>
                            <div class="owl-next"></div>
                        </div>
                        <div class="owl-dots disabled">
                            <div class="owl-dot active"><span></span></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- block slide top -->


        </div>
        <!-- Sidebar -->



    </div>
</div>


