Shop.Core/obj/
Shop.Web/Files/
Shop.Data/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Shop.Web/Upload/
Shop.Web/bin/
Shop.Data/bin/
Shop.Data/obj/
Shop.Model/obj/
Shop.Web/obj/

