<div class="hinhanhtest" >
    <div class="img_dungtool" style="border: 1px solid #eee;width: 175px;height: 195px;">
        <img src="/Upload/files/duong-the-nuoc-hoa-victorias-secret-beauty-garden-1.jpg?width=172&height=192"/><br/>
        <span>Hình dùng tool</span>
    </div>

 <div class="img_khongtool" style="border: 1px solid #eee;width: 175px;height: 195px;float: left;">
   <img src="/Upload/files/^E5FAF38A0878C0A687110459F40F6FFF272944A106C0449DD0^pimgpsh_fullsize_distr.jpg" style="max-width: 172px;max-height: 192px;"/><br/>
<span>dùng kích thước thật(900 x 1006 px)</span>
</div>
</div>
