
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Không có quyền</title>
   
    <link rel="stylesheet" type="text/css" media="screen" href="/Content/css/glyphicons.all.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/Content/css/xemChiTiet.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/Content/css/chosen.css" />
     <link rel="shortcut icon" href="/Content/images/noiquyTTT/favicon.ico" type="image/x-icon" />
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/csscompressor/font-awesome.min.css" rel="stylesheet" />
</head>
<body>
    <div class="erro_author">
        <img src="/images/Do-You-Have-Permission.png" style="display: block;margin-left: auto;margin-right: auto;margin-top: 200px;width: 300px;"/>
        <a href="/admin" class="phanquyen"><i class="fa fa-mail-reply"></i> Quay về trang Quản Trị</a>
    </div>
    <style>
        .phanquyen {
            width: 100%;
    text-align: center;
    position: absolute;
    margin-top: 10px;
    font-size: 20px;
    color: green;
        }
    </style>
</body>
</html>
