@using Newtonsoft.Json
@model List<Shop.Model.MenuOptionMapping.OptionShow>
@{
    var json = JsonConvert.SerializeObject(Model);
}
<div>
    <textarea id="MaVachJson" name="MaVachJson">@json</textarea>
</div>
<ul id="images_other1">
    @if (Model.Any())
    {
        foreach (var optionShow in Model)
        {
        <li>
            <img class="img-thumbnail" src="@optionShow.Img"/>
            <span onclick="return remove(this)" class="remove"><i class="fa fa-close"></i></span>
         
        </li>
            
        }
    }

</ul>
<div class="form-group">
    <label class="col-sm-3">Tên màu</label>
    <div class="col-sm-9">
        <input class="form-control" id="Ten_mv" name="Ten_mv" type="text" value="">
    </div>

</div>
<div class="form-group">
    <label class="col-sm-3 ">Hình ảnh</label>
    <div class="col-sm-6">
        <input class="form-control" id="Hinh_mv" name="Hinh_mv" type="text" value="">
    </div>
    <div class="col-sm-3">
        <button onclick="return BrowseImages('Hinh_mv');" type="button" class="btn btn-primary">+</button>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-3">Mã vạch</label>
    <div class="col-sm-9">
        <input class="form-control" id="maVach_mv" name="maVach_mv" type="text" value="">
    </div>

</div>
<button type="button" onclick="return save()" class="btn btn-success" style="margin-left: 115px;">Lưu mã vạch</button>

<script type="text/javascript">
    var flag = 1;
    function edit(id) {
        if (id === 0) return;
        var inputJson = $("#MaVachJson").val();
        if (inputJson === "")
            inputJson = "[]";
        var maVachJson = JSON.parse(inputJson);

        var item = {};
        for (var i = 0; i < maVachJson.length; i++) {
            if (maVachJson[i].id_ === id) {
                item = maVachJson[i];
                break;
            }
        }
        $("#maVach_mv").val(item.Barcode);
        $("#Hinh_mv").val(item.Img);
        $("#Ten_mv").val(item.TenLoai);
      
    }

    function remove(ui) {
        $(ui).parent().remove();
        
    }

    function save() {
        var inputJson = $("#MaVachJson").val();
        if (inputJson === "")
            inputJson = "[]";
        var maVachJson = JSON.parse(inputJson);
        var o = {
            id_: 0,
            Barcode: $("#maVach_mv").val(),
            Img: $("#Hinh_mv").val(),
            TenLoai: $("#Ten_mv").val(),
            Flag: flag
        };
        maVachJson.push(o);
        $("#MaVachJson").val(JSON.stringify(maVachJson));
        var hinh = o.Img;
        var imgs = hinh.replace("/files/", "");
        var id = o.id_;
        $("#images_other1").append(' <li class="hinhanh" style="list-style: none;">' +
            '<img class="img-thumbnail" style=" width: 40px;height: 40px;margin-left: -40px; margin-bottom: 10px;" src="' + "/Upload/Files/" + imgs + '"/>' +
            '<span onclick="return remove(this)" class="remove"><i class="fa fa-close"></i></span>' +
            // '<span onclick="return edit(this)" class="remove"><i class="fa fa-edit"></i></span>' +
            '</li>');
        //reset testbox sau khi luu xong
        document.getElementById("Ten_mv").value = "";
        document.getElementById("Hinh_mv").value = "";
        document.getElementById("maVach_mv").value = "";
    }

</script>
