<li class="dropdown setting">
    <a data-toggle="dropdown" role="button" href="#" class="dropdown-toggle ">
        <span>Tra cứu đơn hàng</span>
        <i aria-hidden="true" class="fa fa-map-marker"></i>
    </a>
    <div class="dropdown-menu">
        <div class="block_input_order_checking">
            <form action="/kiem-tra-don-hang.html" method="post" id="quick-checking-order">
                <div class="form-group">
                    <div class="relative">
                        <input placeholder="Nhập mã đơn hàng" class="form-control" name="order_id" type="text" required="">
                    </div>
                </div>
                <div class="form-group">
                    <div class="relative">
                        <input placeholder="Nhập email hoặc số điện thoại" class="form-control" name="contact" type="text" required="">
                    </div>
                </div>
                <div class="text-center">
                    <input type="submit" class="btn btn_site_1" value="Kiểm tra đơn hàng">
                </div>
            </form>
        </div>
    </div>
</li>
