<html xmlns="http://www.w3.org/1999/xhtml" class=" ">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Shop name - Thanh toán đơn hàng">

    <link rel="shortcut icon" href="/Content/images/favicon.ico" type="image/png" />


    <link href="//bizweb.dktcdn.net/assets/themes_support/bootstrap.min.css?20160122" rel="stylesheet" type="text/css">
    <link href="//bizweb.dktcdn.net/assets/themes_support/nprogress.css?3" rel="stylesheet" type="text/css">
    <link href="//bizweb.dktcdn.net/assets/themes_support/font-awesome.min.css?3" rel="stylesheet" type="text/css">
    <link href="//bizweb.dktcdn.net/assets/themes_support/checkout.css?3" rel="stylesheet" type="text/css">


    <link href="//bizweb.dktcdn.net/100/093/224/checkout_stylesheet/188346/checkout.css?1478692266316" rel="stylesheet" type="text/css">


    <title>Bosilinhkien.com - Thanh toán đơn hàng</title>

</head>
<body class="body--custom-background-color ">

    @RenderBody()

    <script src="//bizweb.dktcdn.net/assets/themes_support/jquery-2.1.3.min.js?3" type="text/javascript"></script>
    <script src="//bizweb.dktcdn.net/assets/themes_support/bootstrap.min.js?3" type="text/javascript"></script>
    <script src="//bizweb.dktcdn.net/assets/themes_support/twine.min.js?3" type="text/javascript"></script>
    <script src="//bizweb.dktcdn.net/assets/themes_support/validator.min.js?3" type="text/javascript"></script>
    <script src="//bizweb.dktcdn.net/assets/themes_support/nprogress.js?3" type="text/javascript"></script>
    <script src="//bizweb.dktcdn.net/assets/themes_support/money-helper.js?3" type="text/javascript"></script>
    <script src="//bizweb.dktcdn.net/assets/themes_support/checkout.js?3" type="text/javascript"></script>



    <!-- End Google Tag Manager -->

</body>
</html>
