[class^="ChiTiet-"],[class*=" ChiTiet-"] {
	display:inline-block;
	width:14px;height:14px;
	*margin-right:.3em;
	line-height:14px;
	vertical-align:text-top;
	background-image:url("../images/img-xemsanpham.png");
	background-repeat:no-repeat;
}
[class^="ChiTiet-"]:last-child,[class*=" ChiTiet-"]:last-child {
	*margin-left:0;
}
.ChiTiet-glass { background-position: 0 0 }
.ChiTiet-leaf { background-position: -34px 0 }
.ChiTiet-dog { background-position: -68px 0 }
.ChiTiet-user { background-position: -102px 0 }
.ChiTiet-girl { background-position: -136px 0 }
.ChiTiet-car { background-position: -170px 0 }
.ChiTiet-user-add { background-position: -204px 0 }
.ChiTiet-user-remove { background-position: -238px 0 }
.ChiTiet-film { background-position: -272px 0 }
.ChiTiet-magic { background-position: -306px 0 }
.ChiTiet-envelope { background-position: -340px 0 }
.ChiTiet-camera { background-position: -374px 0 }
.ChiTiet-heart { background-position: -408px 0 }
.ChiTiet-beach-umbrella { background-position: -442px 0 }
.ChiTiet-train { background-position: -476px 0 }
.ChiTiet-print { background-position: -510px 0 }
.ChiTiet-bin { background-position: -544px 0 }
.ChiTiet-music { background-position: -578px 0 }
.ChiTiet-note { background-position: -612px 0 }
.ChiTiet-cogwheel { background-position: -646px 0 }
.ChiTiet-home { background-position: -680px 0 }
.ChiTiet-snowflake { background-position: -714px 0 }
.ChiTiet-fire { background-position: -748px 0 }
.ChiTiet-cogwheels { background-position: -782px 0 }
.ChiTiet-parents { background-position: -816px 0 }
.ChiTiet-binoculars { background-position: -850px 0 }
.ChiTiet-road { background-position: -884px 0 }
.ChiTiet-search { background-position: -918px 0 }
.ChiTiet-cars { background-position: -952px 0 }
.ChiTiet-notes-2 { background-position: -986px 0 }
.ChiTiet-pencil { background-position: -1020px 0 }
.ChiTiet-bus { background-position: -1054px 0 }
.ChiTiet-wifi-alt { background-position: -1088px 0 }
.ChiTiet-luggage { background-position: -1122px 0 }
.ChiTiet-old-man { background-position: -1156px 0 }
.ChiTiet-woman { background-position: -1190px 0 }
.ChiTiet-file { background-position: -1224px 0 }
.ChiTiet-credit { background-position: -1258px 0 }
.ChiTiet-airplane { background-position: -1292px 0 }
.ChiTiet-notes { background-position: -1326px 0 }
.ChiTiet-stats { background-position: -1360px 0 }
.ChiTiet-charts { background-position: -1394px 0 }
.ChiTiet-pie-chart { background-position: -1428px 0 }
.ChiTiet-group { background-position: -1462px 0 }
.ChiTiet-keys { background-position: -1496px 0 }
.ChiTiet-calendar { background-position: -1530px 0 }
.ChiTiet-router { background-position: -1564px 0 }
.ChiTiet-camera-small { background-position: -1598px 0 }
.ChiTiet-dislikes { background-position: -1632px 0 }
.ChiTiet-star { background-position: -1666px 0 }
.ChiTiet-link { background-position: -1700px 0 }
.ChiTiet-eye-open { background-position: -1734px 0 }
.ChiTiet-eye-close { background-position: -1768px 0 }
.ChiTiet-alarm { background-position: -1802px 0 }
.ChiTiet-clock { background-position: -1836px 0 }
.ChiTiet-stopwatch { background-position: -1870px 0 }
.ChiTiet-projector { background-position: -1904px 0 }
.ChiTiet-history { background-position: -1938px 0 }
.ChiTiet-truck { background-position: -1972px 0 }
.ChiTiet-cargo { background-position: 0 -34px }
.ChiTiet-compass { background-position: -34px -34px }
.ChiTiet-keynote { background-position: -68px -34px }
.ChiTiet-attach { background-position: -102px -34px }
.ChiTiet-power { background-position: -136px -34px }
.ChiTiet-lightbulb { background-position: -170px -34px }
.ChiTiet-tag { background-position: -204px -34px }
.ChiTiet-tags { background-position: -238px -34px }
.ChiTiet-cleaning { background-position: -272px -34px }
.ChiTiet-ruller { background-position: -306px -34px }
.ChiTiet-gift { background-position: -340px -34px }
.ChiTiet-umbrella { background-position: -374px -34px }
.ChiTiet-book { background-position: -408px -34px }
.ChiTiet-bookmark { background-position: -442px -34px }
.ChiTiet-signal { background-position: -476px -34px }
.ChiTiet-cup { background-position: -510px -34px }
.ChiTiet-stroller { background-position: -544px -34px }
.ChiTiet-headphones { background-position: -578px -34px }
.ChiTiet-headset { background-position: -612px -34px }
.ChiTiet-warning-sign { background-position: -646px -34px }
.ChiTiet-signal { background-position: -680px -34px }
.ChiTiet-retweet { background-position: -714px -34px }
.ChiTiet-refresh { background-position: -748px -34px }
.ChiTiet-roundabout { background-position: -782px -34px }
.ChiTiet-random { background-position: -816px -34px }
.ChiTiet-heat { background-position: -850px -34px }
.ChiTiet-repeat { background-position: -884px -34px }
.ChiTiet-display { background-position: -918px -34px }
.ChiTiet-log-book { background-position: -952px -34px }
.ChiTiet-adress-book { background-position: -986px -34px }
.ChiTiet-magnet { background-position: -1020px -34px }
.ChiTiet-table { background-position: -1054px -34px }
.ChiTiet-adjust { background-position: -1088px -34px }
.ChiTiet-tint { background-position: -1122px -34px }
.ChiTiet-crop { background-position: -1156px -34px }
.ChiTiet-vector-path-square { background-position: -1190px -34px }
.ChiTiet-vector-path-circle { background-position: -1224px -34px }
.ChiTiet-vector-path-polygon { background-position: -1258px -34px }
.ChiTiet-vector-path-line { background-position: -1292px -34px }
.ChiTiet-vector-path-curve { background-position: -1326px -34px }
.ChiTiet-vector-path-all { background-position: -1360px -34px }
.ChiTiet-font { background-position: -1394px -34px }
.ChiTiet-italic { background-position: -1428px -34px }
.ChiTiet-bold { background-position: -1462px -34px }
.ChiTiet-text-underline { background-position: -1496px -34px }
.ChiTiet-text-strike { background-position: -1530px -34px }
.ChiTiet-text-height { background-position: -1564px -34px }
.ChiTiet-text-width { background-position: -1598px -34px }
.ChiTiet-text-resize { background-position: -1632px -34px }
.ChiTiet-left-indent { background-position: -1666px -34px }
.ChiTiet-right-indent { background-position: -1700px -34px }
.ChiTiet-align-left { background-position: -1734px -34px }
.ChiTiet-align-center { background-position: -1768px -34px }
.ChiTiet-align-right { background-position: -1802px -34px }
.ChiTiet-justify { background-position: -1836px -34px }
.ChiTiet-list { background-position: -1870px -34px }
.ChiTiet-text-smaller { background-position: -1904px -34px }
.ChiTiet-text-bigger { background-position: -1938px -34px }
.ChiTiet-embed { background-position: -1972px -34px }
.ChiTiet-embed-close { background-position: 0 -68px }
.ChiTiet-adjust { background-position: -34px -68px }
.ChiTiet-message-full { background-position: -68px -68px }
.ChiTiet-message-empty { background-position: -102px -68px }
.ChiTiet-message-in { background-position: -136px -68px }
.ChiTiet-message-out { background-position: -170px -68px }
.ChiTiet-message-plus { background-position: -204px -68px }
.ChiTiet-message-minus { background-position: -238px -68px }
.ChiTiet-message-ban { background-position: -272px -68px }
.ChiTiet-message-flag { background-position: -306px -68px }
.ChiTiet-message-lock { background-position: -340px -68px }
.ChiTiet-message-new { background-position: -374px -68px }
.ChiTiet-inbox { background-position: -408px -68px }
.ChiTiet-inbox-plus { background-position: -442px -68px }
.ChiTiet-inbox-minus { background-position: -476px -68px }
.ChiTiet-inbox-lock { background-position: -510px -68px }
.ChiTiet-inbox-in { background-position: -544px -68px }
.ChiTiet-inbox-out { background-position: -578px -68px }
.ChiTiet-computer-locked { background-position: -612px -68px }
.ChiTiet-computer-service { background-position: -646px -68px }
.ChiTiet-computer-proces { background-position: -680px -68px }
.ChiTiet-phone { background-position: -714px -68px }
.ChiTiet-database-lock { background-position: -748px -68px }
.ChiTiet-database-plus { background-position: -782px -68px }
.ChiTiet-database-minus { background-position: -816px -68px }
.ChiTiet-database-ban { background-position: -850px -68px }
.ChiTiet-folder-open { background-position: -884px -68px }
.ChiTiet-folder-plus { background-position: -918px -68px }
.ChiTiet-folder-minus { background-position: -952px -68px }
.ChiTiet-folder-lock { background-position: -986px -68px }
.ChiTiet-folder-flag { background-position: -1020px -68px }
.ChiTiet-folder-new { background-position: -1054px -68px }
.ChiTiet-check { background-position: -1088px -68px }
.ChiTiet-edit { background-position: -1122px -68px }
.ChiTiet-new-window { background-position: -1156px -68px }
.ChiTiet-more-windows { background-position: -1190px -68px }
.ChiTiet-show-big-thumbnails { background-position: -1224px -68px }
.ChiTiet-show-thumbnails { background-position: -1258px -68px }
.ChiTiet-show-thumbnails-with-lines { background-position: -1292px -68px }
.ChiTiet-show-lines { background-position: -1326px -68px }
.ChiTiet-playlist { background-position: -1360px -68px }
.ChiTiet-picture { background-position: -1394px -68px }
.ChiTiet-imac { background-position: -1428px -68px }
.ChiTiet-macbook { background-position: -1462px -68px }
.ChiTiet-ipad { background-position: -1496px -68px }
.ChiTiet-iphone { background-position: -1530px -68px }
.ChiTiet-iphone-transfer { background-position: -1564px -68px }
.ChiTiet-iphone-exchange { background-position: -1598px -68px }
.ChiTiet-ipod { background-position: -1632px -68px }
.ChiTiet-ipod-shuffle { background-position: -1666px -68px }
.ChiTiet-ear-plugs { background-position: -1700px -68px }
.ChiTiet-albums { background-position: -1734px -68px }
.ChiTiet-step-backward { background-position: -1768px -68px }
.ChiTiet-fast-backward { background-position: -1802px -68px }
.ChiTiet-rewind { background-position: -1836px -68px }
.ChiTiet-play { background-position: -1870px -68px }
.ChiTiet-pause { background-position: -1904px -68px }
.ChiTiet-stop { background-position: -1938px -68px }
.ChiTiet-forward { background-position: -1972px -68px }
.ChiTiet-fast-forward { background-position: 0 -102px }
.ChiTiet-step-forward { background-position: -34px -102px }
.ChiTiet-eject { background-position: -68px -102px }
.ChiTiet-facetime-video { background-position: -102px -102px }
.ChiTiet-download-alt { background-position: -136px -102px }
.ChiTiet-mute { background-position: -170px -102px }
.ChiTiet-volume-down { background-position: -204px -102px }
.ChiTiet-volume-up { background-position: -238px -102px }
.ChiTiet-screenshot { background-position: -272px -102px }
.ChiTiet-move { background-position: -306px -102px }
.ChiTiet-more { background-position: -340px -102px }
.ChiTiet-brightness-reduce { background-position: -374px -102px }
.ChiTiet-brightness-increase { background-position: -408px -102px }
.ChiTiet-circle-plus { background-position: -442px -102px }
.ChiTiet-circle-minus { background-position: -476px -102px }
.ChiTiet-circle-remove { background-position: -510px -102px }
.ChiTiet-circle-ok { background-position: -544px -102px }
.ChiTiet-circle-question-mark { background-position: -578px -102px }
.ChiTiet-circle-info { background-position: -612px -102px }
.ChiTiet-circle-exclamation-mark { background-position: -646px -102px }
.ChiTiet-remove { background-position: -680px -102px }
.ChiTiet-ok { background-position: -714px -102px }
.ChiTiet-ban { background-position: -748px -102px }
.ChiTiet-download { background-position: -782px -102px }
.ChiTiet-upload { background-position: -816px -102px }
.ChiTiet-shopping-cart { background-position: -850px -102px }
.ChiTiet-lock { background-position: -884px -102px }
.ChiTiet-unlock { background-position: -918px -102px }
.ChiTiet-electricity { background-position: -952px -102px }
.ChiTiet-ok-2 { background-position: -986px -102px }
.ChiTiet-remove-2 { background-position: -1020px -102px }
.ChiTiet-cart-out { background-position: -1054px -102px }
.ChiTiet-cart-in { background-position: -1088px -102px }
.ChiTiet-left-arrow { background-position: -1122px -102px }
.ChiTiet-right-arrow { background-position: -1156px -102px }
.ChiTiet-down-arrow { background-position: -1190px -102px }
.ChiTiet-up-arrow { background-position: -1224px -102px }
.ChiTiet-resize-small { background-position: -1258px -102px }
.ChiTiet-resize-full { background-position: -1292px -102px }
.ChiTiet-circle-arrow-left { background-position: -1326px -102px }
.ChiTiet-circle-arrow-right { background-position: -1360px -102px }
.ChiTiet-circle-arrow-top { background-position: -1394px -102px }
.ChiTiet-circle-arrow-down { background-position: -1428px -102px }
.ChiTiet-play-button { background-position: -1462px -102px }
.ChiTiet-unshare { background-position: -1496px -102px }
.ChiTiet-share { background-position: -1530px -102px }
.ChiTiet-thin-right-arrow { background-position: -1564px -102px }
.ChiTiet-thin-arrow-left { background-position: -1598px -102px }
.ChiTiet-bluetooth { background-position: -1632px -102px }
.ChiTiet-euro { background-position: -1666px -102px }
.ChiTiet-usd { background-position: -1700px -102px }
.ChiTiet-bp { background-position: -1734px -102px }
.ChiTiet-retweet-2 { background-position: -1768px -102px }
.ChiTiet-moon { background-position: -1802px -102px }
.ChiTiet-sun { background-position: -1836px -102px }
.ChiTiet-cloud { background-position: -1870px -102px }
.ChiTiet-direction { background-position: -1904px -102px }
.ChiTiet-brush { background-position: -1938px -102px }
.ChiTiet-pen { background-position: -1972px -102px }
.ChiTiet-zoom-in { background-position: 0 -136px }
.ChiTiet-zoom-out { background-position: -34px -136px }
.ChiTiet-pin { background-position: -68px -136px }
.ChiTiet-riflescope { background-position: -102px -136px }
.ChiTiet-rotation-lock { background-position: -136px -136px }
.ChiTiet-flash { background-position: -170px -136px }
.ChiTiet-google-maps { background-position: -204px -136px }
.ChiTiet-anchor { background-position: -238px -136px }
/*.ChiTiet-conversation { background-position: -272px -136px }*/
.ChiTiet-chat { background-position: -306px -136px }
.ChiTiet-male { background-position: -340px -136px }
.ChiTiet-female { background-position: -374px -136px }
.ChiTiet-asterisk { background-position: -408px -136px }
.ChiTiet-divide { background-position: -442px -136px }
.ChiTiet-snorkel-diving { background-position: -476px -136px }
.ChiTiet-scuba-diving { background-position: -510px -136px }
.ChiTiet-oxygen-bottle { background-position: -544px -136px }
.ChiTiet-fins { background-position: -578px -136px }
.ChiTiet-fishes { background-position: -612px -136px }
.ChiTiet-boat { background-position: -646px -136px }
.ChiTiet-delete-point { background-position: -680px -136px }
.ChiTiet-sheriffs--star { background-position: -714px -136px }
.ChiTiet-qrcode { background-position: -748px -136px }
.ChiTiet-barcode { background-position: -782px -136px }
.ChiTiet-pool { background-position: -816px -136px }
.ChiTiet-buoy { background-position: -850px -136px }
.ChiTiet-spade { background-position: -884px -136px }
.ChiTiet-bank { background-position: -918px -136px }
.ChiTiet-vcard { background-position: -952px -136px }
.ChiTiet-electrical-plug { background-position: -986px -136px }
.ChiTiet-flag { background-position: -1020px -136px }
.ChiTiet-credit-card { background-position: -1054px -136px }
.ChiTiet-keyboard-wireless { background-position: -1088px -136px }
.ChiTiet-keyboard-wired { background-position: -1122px -136px }
.ChiTiet-shield { background-position: -1156px -136px }
.ChiTiet-ring { background-position: -1190px -136px }
.ChiTiet-cake { background-position: -1224px -136px }
.ChiTiet-drink { background-position: -1258px -136px }
.ChiTiet-beer { background-position: -1292px -136px }
.ChiTiet-fast-food { background-position: -1326px -136px }
.ChiTiet-cutlery { background-position: -1360px -136px }
.ChiTiet-pizza { background-position: -1394px -136px }
.ChiTiet-birthday-cake { background-position: -1428px -136px }
.ChiTiet-tablet { background-position: -1462px -136px }
.ChiTiet-settings { background-position: -1496px -136px }
.ChiTiet-bullets { background-position: -1530px -136px }
.ChiTiet-cardio { background-position: -1564px -136px }
.ChiTiet-t-shirt { background-position: -1598px -136px }
.ChiTiet-pants { background-position: -1632px -136px }
.ChiTiet-sweater { background-position: -1666px -136px }
.ChiTiet-fabric { background-position: -1700px -136px }
.ChiTiet-leather { background-position: -1734px -136px }
.ChiTiet-scissors { background-position: -1768px -136px }
.ChiTiet-podium { background-position: -1802px -136px }
.ChiTiet-skull { background-position: -1836px -136px }
.ChiTiet-celebration { background-position: -1870px -136px }
.ChiTiet-tea-kettle { background-position: -1904px -136px }
.ChiTiet-french-press { background-position: -1938px -136px }
.ChiTiet-coffe-cup { background-position: -1972px -136px }
.ChiTiet-pot { background-position: 0 -170px }
.ChiTiet-grater { background-position: -34px -170px }
.ChiTiet-kettle { background-position: -68px -170px }
.ChiTiet-hospital { background-position: -102px -170px }
.ChiTiet-hospital-h { background-position: -136px -170px }
.ChiTiet-microphone { background-position: -170px -170px }
.ChiTiet-webcam { background-position: -204px -170px }
.ChiTiet-temple-christianity-church { background-position: -238px -170px }
.ChiTiet-temple-islam { background-position: -272px -170px }
.ChiTiet-temple-hindu { background-position: -306px -170px }
.ChiTiet-temple-buddhist { background-position: -340px -170px }
.ChiTiet-electrical-socket-eu { background-position: -374px -170px }
.ChiTiet-electrical-socket-us { background-position: -408px -170px }
.ChiTiet-bomb { background-position: -442px -170px }
.ChiTiet-comments { background-position: -476px -170px }
.ChiTiet-flower { background-position: -510px -170px }
.ChiTiet-baseball { background-position: -544px -170px }
.ChiTiet-rugby { background-position: -578px -170px }
.ChiTiet-ax { background-position: -612px -170px }
.ChiTiet-table-tennis { background-position: -646px -170px }
.ChiTiet-bowling { background-position: -680px -170px }
.ChiTiet-tree-conifer { background-position: -714px -170px }
.ChiTiet-tree-deciduous { background-position: -748px -170px }
.ChiTiet-more-items { background-position: -782px -170px }
.ChiTiet-sort { background-position: -816px -170px }
.ChiTiet-filter { background-position: -850px -170px }
.ChiTiet-gamepad { background-position: -884px -170px }
.ChiTiet-playing-dices { background-position: -918px -170px }
.ChiTiet-calculator { background-position: -952px -170px }
.ChiTiet-tie { background-position: -986px -170px }
.ChiTiet-wallet { background-position: -1020px -170px }
.ChiTiet-share { background-position: -1054px -170px }
.ChiTiet-sampler { background-position: -1088px -170px }
.ChiTiet-piano { background-position: -1122px -170px }
.ChiTiet-web-browser { background-position: -1156px -170px }
.ChiTiet-blog { background-position: -1190px -170px }
.ChiTiet-dashboard { background-position: -1224px -170px }
.ChiTiet-certificate { background-position: -1258px -170px }
.ChiTiet-bell { background-position: -1292px -170px }
.ChiTiet-candle { background-position: -1326px -170px }
.ChiTiet-pin-classic { background-position: -1360px -170px }
.ChiTiet-iphone-shake { background-position: -1394px -170px }
.ChiTiet-pin-flag { background-position: -1428px -170px }
.ChiTiet-turtle { background-position: -1462px -170px }
.ChiTiet-rabbit { background-position: -1496px -170px }
.ChiTiet-globe { background-position: -1530px -170px }
.ChiTiet-briefcase { background-position: -1564px -170px }
.ChiTiet-hdd { background-position: -1598px -170px }
.ChiTiet-thumbs-up { background-position: -1632px -170px }
.ChiTiet-thumbs-down { background-position: -1666px -170px }
.ChiTiet-hand-right { background-position: -1700px -170px }
.ChiTiet-hand-left { background-position: -1734px -170px }
.ChiTiet-hand-up { background-position: -1768px -170px }
.ChiTiet-hand-down { background-position: -1802px -170px }
.ChiTiet-fullscreen { background-position: -1836px -170px }
.ChiTiet-shopping-bag { background-position: -1870px -170px }
.ChiTiet-book-open { background-position: -1904px -170px }
.ChiTiet-nameplate { background-position: -1938px -170px }
.ChiTiet-nameplate-alt { background-position: -1972px -170px }
.ChiTiet-vases { background-position: 0 -204px }
.ChiTiet-announcement { background-position: -34px -204px }
.ChiTiet-dumbbell { background-position: -68px -204px }
.ChiTiet-suitcase { background-position: -102px -204px }
.ChiTiet-file-import { background-position: -136px -204px }
.ChiTiet-file-export { background-position: -170px -204px }
.ChiTiet-pinterest { background-position: -204px -204px }
.ChiTiet-dropbox { background-position: -238px -204px }
.ChiTiet-google-alt { background-position: -272px -204px }
.ChiTiet-jolicloud { background-position: -306px -204px }
.ChiTiet-yahoo { background-position: -340px -204px }
.ChiTiet-blogger { background-position: -374px -204px }
.ChiTiet-picasa { background-position: -408px -204px }
.ChiTiet-amazon { background-position: -442px -204px }
.ChiTiet-tumblr { background-position: -476px -204px }
.ChiTiet-wordpress { background-position: -510px -204px }
.ChiTiet-instapaper { background-position: -544px -204px }
.ChiTiet-evernote { background-position: -578px -204px }
.ChiTiet-xing { background-position: -612px -204px }
.ChiTiet-zootool { background-position: -646px -204px }
.ChiTiet-dribbble { background-position: -680px -204px }
.ChiTiet-deviantart { background-position: -714px -204px }
.ChiTiet-read-it-later { background-position: -748px -204px }
.ChiTiet-linked-in { background-position: -782px -204px }
.ChiTiet-forrst { background-position: -816px -204px }
.ChiTiet-pinboard { background-position: -850px -204px }
.ChiTiet-behance { background-position: -884px -204px }
.ChiTiet-github { background-position: -918px -204px }
.ChiTiet-youtube { background-position: -952px -204px }
.ChiTiet-skitch { background-position: -986px -204px }
.ChiTiet-4square { background-position: -1020px -204px }
.ChiTiet-quora { background-position: -1054px -204px }
.ChiTiet-google-plus { background-position: -1088px -204px }
.ChiTiet-spootify { background-position: -1122px -204px }
.ChiTiet-stumbleupon { background-position: -1156px -204px }
.ChiTiet-readability { background-position: -1190px -204px }
.ChiTiet-facebook { background-position: -1224px -204px }
.ChiTiet-twitter-t { background-position: -1258px -204px }
.ChiTiet-twitter { background-position: -1292px -204px }
.ChiTiet-buzz { background-position: -1326px -204px }
.ChiTiet-vimeo { background-position: -1360px -204px }
.ChiTiet-flickr { background-position: -1394px -204px }
.ChiTiet-last-fm { background-position: -1428px -204px }
.ChiTiet-rss { background-position: -1462px -204px }
.ChiTiet-skype { background-position: -1496px -204px }
.ChiTiet-e-mail { background-position: -1530px -204px }