@model Shop.Model.Account298
@if (Model == null)
{
<text>
    <li>Đăng nhập <span style="color: red;font-weight: bold;"><a href="/admin/Login"></a></span></li>
</text>
}
else
{
<text>
    <li>Xin chào: <span style="color: green;font-weight: bold;">@Model.Username</span></li>
</text>
}
