@model Shop.Model.ThietLap
<!-- view ly do co san ra-->
 <label class="col-sm-2 ">Tiêu đề</label>
    <div class="col-sm-10">

       <p>@Model.TieuDe</p>
     <p>
        @Html.Raw(Model.NoiDung)
    </p>
    </div>
<!--end tai sao nen mua BG-->
