@model int
<div class="block-minicart dropdown ">
    <a class="dropdown-toggle" href="@Url.RouteUrl("Cart")" role="button" title="giỏ hàng">
        <span class="cart-icon"></span>
        <span class="counter qty">
            <span class="counter-number counter-number-custom">@Model</span>
        </span>
    </a>
</div>
