
<div class="block-sidebar block-sidebar-products">
     <div class="block-title">
        <strong style="font-size: 13px;color: #1f601f!important;">-- CHẤT LƯỢNG CHO TẤT CẢ --</strong>
    </div>
    <div class="block-content block_content_tichdiem">
        <div class="product-item product-item-opt-1">
            <div class="product-item-info">
                <div class="product-item-photo tichdiem_img">
                    <img alt="mỹ phẩm 100% chính hãng" data-src="/Upload/files/chinh-sach-04.png" style="max-width: 80px; max-height: 90px;">
                </div>
                <div class="product-item-detail chitiet_tichdiem">
                    <strong class="product-item-name tichdiem">mỹ phẩm 100% chính hãng </strong>
                    <div class="clearfix">
                        <span class="ten_tichdiem">Chất lượng sản phẩm luôn được chứng nhận bằng sự tin cậy của Khách Hàng suốt nhiều năm qua</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-item product-item-opt-1">
            <div class="product-item-info">
                <div class="product-item-photo tichdiem_img">
                    <img alt="luôn được tích điểm" data-src="/Upload/files/chinh-sach-05.png" style="max-width: 80px; max-height: 90px;">
                </div>
                <div class="product-item-detail chitiet_tichdiem">
                    <strong class="product-item-name tichdiem">luôn được tích điểm</strong>
                    <div class="clearfix">
                        <span class="ten_tichdiem">Đơn hàng từ 100k=1 điểm <br/> 10 điểm nhận voucher 100k</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-item product-item-opt-1">
            <div class="product-item-info">
                <div class="product-item-photo tichdiem_img">
                    <img alt="Miễn phí giao hàng" data-src="/Upload/files/chinh-sach-06.png" style="max-width: 80px; max-height: 90px;">
                </div>
                <div class="product-item-detail chitiet_tichdiem">
                    <strong class="product-item-name tichdiem">Miễn phí giao hàng</strong>
                    <div class="clearfix">
                        <span class="ten_tichdiem">Đơn hàng trên 200k nội thành HCM</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-item product-item-opt-1">
            <div class="product-item-info">
                <div class="product-item-photo tichdiem_img">
                    <img alt="Tri ân khách hàng" data-src="/Upload/files/chinh-sach-07.png" style="max-width: 80px; max-height: 90px;">
                </div>
                <div class="product-item-detail chitiet_tichdiem">
                    <strong class="product-item-name tichdiem">Tri ân khách hàng</strong>
                    <div class="clearfix">
                        <span class="ten_tichdiem">Với các chương trình khuyến mãi, các sự kiện & quà tặng đặc biệt vô cùng hấp dẫn</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
<!-- Block  bestseller products-->

