@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="thongbao" style="padding: 115px;text-align: center;">
        <img src="/Upload/files/loi.png" style="width: 100px;height: 100px;"/><br/>
        <span style="color: red; font-size: 20px;text-align: center;">Sản phẩm chưa tồn tại trên website</span>
    </div>
</div>
